body {
    background: #ffffff;
    margin: 0;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Oswald', sans-serif */
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

h1#logoname a {

    color: #000;
    text-decoration: none;
}

.header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background: #ffffff;
    display: flex;
    align-items: center;
    height: 6.250vw;
}


h1#logoname {
    position: relative;
    top: auto;
    left: auto;
    width: 20.365vw;
    margin-left: 2.604vw;
}

.newsocialswarpper {
    margin-left: 16.771vw;
}

div#nav {
    width:  47.354vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#close-wrapper {
    display: none;
}

div#nav a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    position: relative;

}

div#nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.2vw;
    top: 1.5vw;
    left: 0;
    background-color: #f90000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

div#nav a:hover::after,
div#nav a.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.section-one {
    font-size: 2vw;
    width: 70%;
    margin: 12vw auto 0;
    text-transform: uppercase;
    font-weight: 900;
}



h4.section-title {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.9vw;
}

.section-three {
    margin: 8vw auto 0;
    width: 70%;
}

.section-two {
    width: 70%;
    margin: 7vw auto 0;
}

.section-two ul li {
    margin: 1vw auto;
    font-weight: 600;
}

.section-four {
    margin: 7vw auto 0;
    width: 70%;
}

@media only screen and (max-width:1023px),
only screen and (max-width:1024px) and (orientation:portrait) {


    .mobile {
        display: block;
        /* width: 100%; */
    }

    .desktop {
        display: none;
    }

    h1#logoname {
        padding: 3vw 0;
        width: 50%;
    }

    h1#logoname a {
        font-size: 6vw;
    }

    .wrapper-one {
        width: 100%;
    }

    .header-wrapper {
        height: 20.513vw;
        max-width: 100%;
    }

    h1#site-name {
        width: 67.179vw;
        margin-left: 0;
        padding-left: 9.231vw;
        z-index: 7;
    }

    .nav-wrapper {
        display: flex;
        margin: 0 2vw 0 auto;
        width: 15%;
    }

    div#nav {
        display: none;
        z-index: 6;
        top: -7vw;
        right: 0;
        text-align: unset;
        border-radius: 0;
        padding-top: 31vw;
        position: fixed;
        width: 100%;
        background: #fff;
        background: transparent linear-gradient(90deg, #75d743 0%, #87e2f1 100%) 0% 0% no-repeat padding-box;
        height: 100%;
    }

    div#nav.mob-open {
        display: block;
    }

    div#nav a {
        display: block;
        text-align: center;
        font-size: 3.733vw;
        margin-bottom: 6.3vw;
        margin-top: 0;
        font-size: 4.103vw;
    }

    div#close-wrapper {
        display: block !important;
        position: relative;
        z-index: 7;
        padding: 7vw 0;
    }

    span#menu-mob {
        position: relative;
        width: 5vw;
        height: 4.2vw;
        transition-duration: 0.5s;
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        width: 8.205vw;
        height: 4.103vw;
    }

    span#menu-mob span {
        transition-duration: 0.5s;
        position: absolute;
        width: 100%;
        left: 0;
        /* background-color: #004A5B; */
        background: transparent linear-gradient(90deg, #ff0404 0%, #969b93 100%) 0% 0% no-repeat padding-box;
        height: 0.513vw;
        border: none;
    }

    span#menu-mob span:nth-child(1) {
        top: -0.75vw;
    }

    span#menu-mob span:nth-child(2) {
        top: 1.25vw;
    }

    span#menu-mob span:nth-child(3) {
        top: 3.25vw;
    }

    div#close-wrapper.opened span#menu-mob span:nth-child(1) {
        top: -1vw;
        -webkit-transform: rotateZ(46deg) translate(1vw, 1vw);
        transform: rotateZ(46deg) translate(1vw, 1vw);
        left: 0.2vw;
    }

    div#close-wrapper.opened span#menu-mob span:nth-child(3) {
        top: 0.5vw;
        -webkit-transform: rotateZ(-46deg) translate(-0.1vw, -0.1vw);
        transform: rotateZ(-46deg) translate(-0.1vw, -0.1vw);
        left: 0.5vw;
    }

    div#close-wrapper.opened span#menu-mob span:nth-child(2) {
        display: none;
    }

    div#close-wrapper.opened span#menu-mob span {
        background: transparent linear-gradient(90deg, rgb(255 0 0) 0%, #000000 100%) 0% 0% no-repeat padding-box;
    }

    .title.mobile {
        width: 100%;
        margin: 3vw auto 7vw;
        font-size: 3vw;
    }

    .wrapper-one img {
        width: 100%;
    }

    .section-one {
        margin: 21vw auto 0;
        font-size: 4vw;
    }

    .section-two {
        font-size: 3vw;
    }

    .section-two ul li {
        margin: 3vw auto;
    }

    h4.section-title {
        font-size: 4vw;
    }

    .section-three {
        font-size: 4vw;
        margin: 9vw auto;
    }

    .section-four {
        font-size: 4vw;
        margin: 9vw auto;
    }

    div#nav a:hover::after,
    div#nav a.active::after {
        width: 80%;
        /* margin: 0 auto; */
        text-align: center;
        top: 5vw;
        height: 0.6vw;
        left: 10%;
    }
}